
body {
    font-family: "Lato", sans-serif;
    background-color: #222729;
    margin-left: 5%;
    padding: 5%;
    width: 100%;
    height: 100%;
}

.imgheader
{

    margin-left: 10px;


}
.imgheaderhome
{
    float: unset;



}
img {
    width: 40%;
    height: 40%;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li{

    color: silver;
}

nav {
    background-color: #222729;
    border-right: 1px solid silver;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    z-index: 1000;
    display: block;
}

.container {
    display: flex;

    align-items: center;
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 500%;
    padding-right: 15%;


}
.contain a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: #1a8cff;
    display: block;
    transition: 0.3s;
    padding: 0;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    border-bottom: 1px solid silver;
}

.imgPost:hover{
    background-color: #1a8cff;
    color: white;
    text-decoration:none;


}
h3{

}
@media screen and (max-width: 1250px) {
    h3 {
        display: none;
    }
    .imgheaderhome {
        margin: 20%;
    }
    img {
        width: 100%;
        height: 100%;
    }

}

.search {
    border: 1px silver solid;
    width: 60%;

    color: silver;
    margin-bottom: 0;

    margin-left: 10%;

}

#posteur {
    color: dodgerblue;
}

#tag {
    color: blue;
}






