
header{
    border: 1px solid silver;

    margin-left: max(15%, min(90px));
    width: 60%;
    height: 10%;
    display: block;
}
.hdr{
    display: inline-block;






    padding-right: 12%;
    padding-left: 12%;
    padding-top: 1%;



}

body {
    font-family: "Lato", sans-serif;
    background-color: #222729;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;

}

.imgheaderhome
{
    float: unset;



}
img {
    width: 40%;
    height: 40%;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li{

    color: silver;
}

.menuGauche {
    background-color: #222729;
    border-right: 1px solid silver;
    overflow: hidden;

    top: 0;
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    z-index: 1000;
    display: block;
    min-width: 60px;
    position: fixed;
    left: max(5%,min(30px));

}
.menuHaut{
    color : silver;
    overflow: hidden;
    top: 0;

    padding: 0;
    width: 90%;
    height: 20%;
    min-height: 100px;
    z-index: 1000;
    display: block;
    text-align: center;
    border-left: silver;


}

.container {
    display: flex;

    align-items: center;
    text-align: left;
    margin: 0;
    line-height: 500%;
    padding-right: 15%;


}
.contain a {

    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: #1a8cff;
    display: block;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    border-bottom: 1px solid silver;
}

.imgPost:hover{
    background-color: #1a8cff;
    color: white;
    text-decoration:none;


}
h3{

}
@media screen and (max-width: 1250px) {
    h3 {
        display: none;
    }
    .imgheaderhome {
        margin: 20%;
    }
    img {
        width: 100%;
        height: 100%;
    }

}

.search {
    border: 1px silver solid;
    width: 60%;

    color: silver;
    margin-bottom: 0;
    margin-left: max(15%, min(90px));


}

#posteur {
    color: dodgerblue;
}

#tag {
    color: blue;
}
.PartieDroite{
    width: max(24.9%, min(90px));
    height: 100%;
    position: fixed;


    top: 0;
    right: 0;

    border-left: 1px solid silver;
    overflow: hidden;
    z-index: 1000;
    display: block;
    min-width: 60px;


}
.PartieDroite>img{
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;

}






